.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.cart-button {
    -fx-background-color: linear-gradient(to bottom, reflect, #55d9ff, #42ffff 50% );
    -fx-border-radius: 20;
    -fx-background-insets: 8;
    -fx-background-radius: 20;
    -fx-text-fill: #419fad;
    -fx-font-family: "Open Sans Extrabold";
    -fx-font-weight: 900;
    -fx-font-size: 18px;
    -fx-text-fill: #384e7a;
}

.cart-button:hover {
    -fx-background-color:linear-gradient(to bottom, reflect, #55d9ff 51% , #42ffff 89% );
    -fx-border-width: 10;
    -fx-border-color: #3d9db8;
    -fx-focus-color: #FF0000;
    -fx-text-fill: #384e7a;
}

.new-sale-button {
    -fx-border-radius: 10;
    -fx-background-insets: 8;
    -fx-background-radius: 20;
    -fx-text-fill: #419fad;
    -fx-font-family: "Open Sans Extrabold";
    -fx-font-weight: 900;
    -fx-font-size: 18px;
    -fx-text-fill: #384e7a;
}